/** @define FlashCard; use strict; */

:root {
    --FlashCard-border-radius: 0.2rem;
}

.FlashCard {
    position: relative;
    flex: 1;
    padding: 1rem 0;
    background: #fff;
    color: #222;
    /*border-radius: var(--FlashCard-border-radius);*/
    border: 1px solid #d3d7db;
}

.FlashCard-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FlashCard-content {
    flex: 1.61;
    justify-content: center;
}

.FlashCard-value {
    font-size: 2rem;
}

.FlashCard-title {
    font-size: 0.8rem;
}

