/** @define Flex; use strict; */

:root {
}

.Flex {
    display: flex;
    flex: 1;
    margin: 0 1rem 1rem 0;
}

.Flex--column {
    flex-flow: column nowrap;
    margin-bottom: 0;
}

.Flex--row {
    flex: initial;
    margin: 0;
}

.Flex--row .Flex:last-child {
    margin-right: 0;
}