/** @define Toasts; use strict; */

:root {
}

.Toasts {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    z-index: 10000;
    justify-content: center;
}

.Toasts-toast {
    background: #333;
    color: #fff;
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
    min-width: 50vw;

    display: none;
}
.Toasts-toast.animated {
    display: flex;
}

.Toasts-toast-content {
    flex: 1
}

.Toasts-toast-action {
    margin-left: 2rem;
    color: hotpink;
    text-decoration: none;
}