/** @define Panel; use strict; */

:root {
    --Panel-border-radius: 0.2rem;
}

.Panel {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;

    overflow: auto;
    user-select: none;
    text-decoration: none;
    /*cursor: pointer;*/

    background: #fff;
    /*border-radius: var(--Panel-border-radius);*/
    border: 1px solid #d3d7db;
    transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.Panel:hover {
    box-shadow: var(--z2);
}

.Panel-top {
    background: #fff;
    color: #444;
    padding: 0 1rem;
    display: flex;
    border-bottom: .1rem solid #d3d7db;
    align-items: center;
    flex: 0 0 2.5rem;
}
.Panel-top--minimized {
    border-bottom: none;
}
.Panel-top--medallion {
    padding: 1rem 1rem 0;
    min-height: 6rem;
    align-items: flex-start;
}
.Panel-top-title {
    font-weight: 300;
}
.Panel-top-medallion {
    display: block;
    margin: -4rem auto 0;
    padding: 0rem;
    border-radius: 50%;
    border: .6rem solid #fff;
    background: #444;
    color: #fff;
    width: 7.5rem;
    height: 7.5rem;
    line-height: 6.4rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: .2rem .3rem .3rem rgba(0,0,0,0.3);
}

.Panel-top-actions {
    margin-left: auto;
    /*opacity: 0;*/
}
.Panel-top-actions i {
    cursor: pointer;
    margin-left: 0.3rem;
    width: 16px;
    height: 16px;
    transition: transform 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.Panel:hover .Panel-top-actions {
    opacity: 1;
}

.Panel-content {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex: 1;*/
}